/*---------------
---------- My css style? */
body{
  
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 3em;
}
.top-banner{
    margin: 5%;
    display: flex;
}
.link-button{
    background-color: orange;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
}
.top{
    margin-top: 5%;
}
.center{
    text-align: center;
}
/* Popular Collection */
.courses{
    margin: 10%;
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
.course{
    text-align: center;
    margin: 5%;
    padding: 20px;
    background-color: lemonchiffon;
    margin: 10px;
    
}
.link{
    text-decoration: none;
    color: orangered;
}
.aline{
    text-align: right;
    margin-right: 10%;
}
/* <!-- bonnas Acianment-2 --> */
.camera-servising{
    margin-right: 10%;
}
.img{
   margin-top: 5%;
    margin-left: 40px;
     width: 400px;
     height: 400px;
}
.color{
    color: orange;
}
.cameras{
    display: flex;
}
.margin-top{
    margin-top: 10%;
}
.lans{
    text-decoration: none;
    background-color: lightcoral;
    padding: 15px;
    color: white;

}
/* footer style? */
footer{
    margin-top: 10%;
    text-align: center;
    background-color: lightslategrey;
    padding: 20px;
    color: white;
}
/* Media queries? */

/* Mobile divise */
@media only screen and (max-width:688px) {
    .courses, .courses,.top-banner {
        margin-left: 10%;
        grid-template-columns: repeat(1, 1fr);
    }
    .container{
        width: 100%;
    }
    .course, .top-banner, .cameras{
        flex-direction: column;
    }
}
/* tab devices */
@media only screen and (min-width:688px)and (max-width:992px) {
    .container{
        width: 100%;
    }
    .courses, .courses {
           grid-template-columns: repeat(2, 1fr);
       }
       .course{
        flex-direction: column;
    }
}